@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
  }

 @media print {
  @page {
    size: A4 portrait;
    margin: 1cm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .routine-grid {
    width: 100% !important;
  }

  .break-after-page {
    page-break-after: always;
  }

  .text-sm {
    font-size: 10px !important;
  }

  .text-md {
    font-size: 12px !important;
  }

  .text-lg {
    font-size: 14px !important;
  }

  .text-xl {
    font-size: 16px !important;
  }

  h2 {
    font-size: 14px !important;
    font-weight: bold;
  }

    .avoid-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
